{% extends "admin/index.html" %}

{% block content %}

<div style="
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
">
{% if user.is_superuser or user.groups.all.0.name == "Administrador" or user.groups.all.0.name == "Coordinador" or user.groups.all.0.name == "Gerencia" %}
    <a
        href="{% url 'core:dashboard_gerencial' %}"
        style="
            display: inline-block;
            padding: 12px 20px;
            background: #417690;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
        "
    >
        📈 Dashboard Gerencial
    </a>
    {% endif %}

    {% if user.is_superuser or user.groups.all.0.name == "Administrador" or user.groups.all.0.name == "Coordinador" or user.groups.all.0.name == "Despachador" %}
    <a
        href="{% url 'core:despacho_dia' %}"
        style="
            display: inline-block;
            padding: 12px 20px;
            background: #417690;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
        "
    >
        🚚 Despacho diario
    </a>
    {% endif %}
    {% if user.is_superuser or user.groups.all.0.name == "Administrador" or user.groups.all.0.name == "Coordinador" or user.groups.all.0.name == "Gerencia" %}
    <a
        href="{% url 'core:reporte_semanal_choferes' %}"
        style="
            display: inline-block;
            padding: 12px 20px;
            background: #417690;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
        "
    >
        💰 Reporte semanal de choferes
    </a>
    {% endif %}

    {% if user.is_superuser or user.groups.all.0.name == "Administrador" or user.groups.all.0.name == "Coordinador" or user.groups.all.0.name == "Gerencia" %}
    <a
        href="{% url 'core:reporte_servicios' %}"
        style="
            display: inline-block;
            padding: 12px 20px;
            background: #417690;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
        "
    >
        📊 Reporte de Servicios
    </a>
    {% endif %}
</div>

{{ block.super }}

{% endblock %}